<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-spinner *ngIf="reloadIconShow" name="circles"></ion-spinner>

      <ion-icon
        *ngIf="!reloadIconShow"
        (click)="doRefresh()"
        class="re-load-icn"
        name="reload-outline"
      ></ion-icon> -->

      <ion-icon
        (click)="closeM()"
        class="arrow-back-outline"
        name="close-outline"
      ></ion-icon>
    </ion-buttons>

    <ion-title>Inspection for {{clientDetails.clientName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="dots"> </ion-refresher-content>
  </ion-refresher> -->

  <div class="container">
    <ion-row>
      <ion-col (click)="goToReportOverview()">
        <div class="row-card">
          <p class="selection-name">Report Overview</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col
        size="6"
        *ngFor="let n of inspectionTypes"
        (click)="goToSelection(n)"
      >
        <div class="row-card">
          <p class="selection-name">{{n.name}}</p>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col style="text-align: center">
      <ion-spinner *ngIf="PreviewPDF" name="circles"></ion-spinner>

      <button *ngIf="!PreviewPDF" class="btn-f" (click)="previewPDF()">
        <ion-icon class="prev-icns" name="eye-outline"></ion-icon>

        Preview
      </button>

      <ion-spinner *ngIf="DownloadPDF" name="circles"></ion-spinner>

      <button *ngIf="!DownloadPDF" class="btn-f" (click)="DownloadPdf_()">
        <ion-icon class="icn-down" name="download-outline"></ion-icon>

        Download
      </button>
    </ion-col>
    <!-- <ion-col style="text-align: center">
      <button class="btn-f" (click)="downloadPdf()" *ngIf="pdfObjBtn">
        Download PDF
      </button>
    </ion-col> -->
  </ion-row>
</ion-footer>
