ion-title.md.title-default.hydrated {
  font-size: 17px;
}

ion-title.ios.title-default.hydrated {
  font-size: 17px;
}

.contain-crds {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 22px;
}

p.selection-name {
  font-size: 14px;
}
