<ion-header>
  <ion-toolbar>
    <ion-title>Structure Selection</ion-title>

    <ion-buttons slot="end">
      <ion-spinner *ngIf="PreviewPDF" name="circles"></ion-spinner>

      <ion-icon
        (click)="createPdf()"
        class="prev-icn"
        *ngIf="!PreviewPDF"
        name="eye-outline"
      ></ion-icon>

      <!-- <ion-icon
        (click)="closeM()"
        class="icn-close"
        name="close-outline"
      ></ion-icon> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contain-crds" *ngIf="!BackPressed">
    <ion-row>
      <ion-col
        size="6"
        *ngFor="let n of inspectionTypes"
        (click)="goToSelection(n)"
      >
        <div class="row-card">
          <p class="selection-name">{{n.name}}</p>
        </div>
      </ion-col>
    </ion-row>
  </div>

  <div class="selection-container">
    <!-- DESCRIPTION -->
    <div class="cont-input" *ngIf="Description">
      <p class="main-title">Structure Description</p>
      <div class="input-etr">
        <ion-row>
          <ion-col>
            <ion-button (click)="DB_Click_AddNewItem()" class="CreateInspBtn">
              <ion-icon class="icn-c" name="create-outline"></ion-icon>

              Insert
            </ion-button>

            <div
              class="data-ui"
              *ngFor="let d of StructureDescriptionContent; let i = index;"
              (click)="selectItem2(i, d)"
              [ngClass]="{'highlight': selectedIndex === i}"
            >
              <ion-row>
                <ion-col class="tbl_col">
                  <ion-item class="txt-box">
                    <p class="txt_ Inside">{{d.text}}</p>
                  </ion-item>
                </ion-col>
              </ion-row>
            </div>
          </ion-col>

          <ion-col>
            <ion-button class="remv-btn" (click)="removeContent()"
              >Remove</ion-button
            >
            <ion-reorder-group
              disabled="false"
              (ionItemReorder)="onRenderItems($event)"
            >
              <ion-item
                class="data-ui"
                *ngFor="let d of added_items; let i = index;"
                (click)="selectItem2Remove(i, d)"
                [ngClass]="{'highlight2': selectedIndex2 === i}"
              >
                <ion-label> {{d.text}} </ion-label>
                <ion-reorder slot="end"></ion-reorder>
              </ion-item>
            </ion-reorder-group>
          </ion-col>
        </ion-row>
      </div>

      <ion-row>
        <ion-col style="text-align: center">
          <ion-button (click)="closeDescription()" class="Back-btn">
            <ion-icon class="icn-c" name="close-outline"></ion-icon>

            Back
          </ion-button>
        </ion-col>

        <ion-col style="text-align: center">
          <ion-button (click)="updateDescription()" class="CreateInspBtn">
            <ion-icon class="icn-c" name="create-outline"></ion-icon>

            Update
          </ion-button>
        </ion-col>
      </ion-row>
    </div>

    <!-- == -->

    <!-- FOUNDATIONAL COMPONENTS -->

    <div class="cont-input" *ngIf="StructureFoundationComponents_UI">
      <p class="main-title vie">Description Content</p>

      <div
        class="con-inpu"
        *ngFor="let item of StructureDescriptionContent; let ind = index;"
      >
        <p
          (click)="AddTitleInfo(item)"
          [ngStyle]="{'font-size': item.font_size ? (item.font_size + 'px') : '', 'color' : item.font_color ? item.font_color : '#000000' }"
          class="main-title"
        >
          {{item.title}}
        </p>
        <ion-button
          class="btn-settings"
          slot="end"
          size="small"
          shape="round"
          (click)="openIonModal(item)"
        >
          <ion-icon name="settings-outline"></ion-icon>
        </ion-button>
        <ion-button
          class="btn-add"
          slot="end"
          size="small"
          shape="round"
          (click)="openAddModal(ind)"
        >
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>

        <div *ngIf="item.title == SelectedTitleToFilter">
          <div class="input-etr">
            <ion-row class="wrapper-desc">
              <ion-col>
                <div
                  class="item-rw"
                  *ngFor="let desc of item.data; let i = index;"
                >
                  <ion-checkbox
                    class="custm-check"
                    item-right
                    [(ngModel)]="desc.checked"
                    (ionChange)="selectItem5(i, desc,  $event);"
                  >
                  </ion-checkbox>
                  <p
                    class="label-inside text-primary"
                    [ngStyle]="{'font-size': desc.font_size ? (desc.font_size + 'px') : '', 'color' : desc.font_color ? desc.font_color : '#000000' }"
                  >
                    {{desc.text}}
                  </p>
                  <ion-button
                    class="btn-desc-settings"
                    slot="end"
                    size="small"
                    shape="round"
                    (click)="openIonModal(desc)"
                  >
                    <ion-icon name="settings-outline"></ion-icon>
                  </ion-button>
                  <ion-button
                    class="btn-edit"
                    slot="start"
                    size="small"
                    shape="round"
                    (click)="editText(desc)"
                  >
                    <ion-icon name="pencil-outline"></ion-icon>
                  </ion-button>
                </div>
              </ion-col>
            </ion-row>
          </div>

          <ion-row>
            <ion-col style="text-align: center">
              <ion-button
                (click)="updateDescription5(item)"
                class="CreateInspBtn"
              >
                <ion-icon class="icn-c" name="create-outline"></ion-icon>

                OK
              </ion-button>
            </ion-col>
            <ion-col style="text-align: center">
              <ion-button (click)="closeDescription2()" class="Back-btn">
                <ion-icon class="icn-c" name="close-outline"></ion-icon>

                Cancel
              </ion-button>
            </ion-col>
          </ion-row>
        </div>
      </div>

      <ion-row>
        <ion-col style="text-align: center">
          <ion-button (click)="closeDescription()" class="Back-btn">
            <ion-icon class="icn-c" name="close-outline"></ion-icon>

            Back
          </ion-button>
        </ion-col>
      </ion-row>
    </div>

    <!-- OBSERVATION -->
    <div class="cont-input" *ngIf="Observations_UI">
      <p class="main-title vie">Observation Content</p>

      <div
        class="con-inpu"
        *ngFor="let item of StructureObservationContent; let i = index;"
      >
        <p
          (click)="AddTitleInfo2(item)"
          [ngStyle]="{'font-size': item.font_size ? (item.font_size + 'px') : '', 'color' : item.font_color ? item.font_color : '#000000' }"
          class="main-title"
        >
          {{item.title}}
        </p>

        <ion-button
          class="btn-settings"
          slot="end"
          size="small"
          shape="round"
          (click)="openIonModal(item)"
        >
          <ion-icon name="settings-outline"></ion-icon>
        </ion-button>
        <ion-button
          class="btn-add"
          slot="end"
          size="small"
          shape="round"
          (click)="openAddModal2(i)"
        >
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>

        <div *ngIf="item.title == SelectedTitleToFilter2">
          <div class="input-etr">
            <ion-row>
              <ion-col>
                <div
                  class="item-rw"
                  *ngFor="let desc of item.data; let i = index;"
                >
                  <ion-checkbox
                    class="custm-check"
                    item-right
                    [(ngModel)]="desc.checked"
                    (ionChange)="selectItem22(i, desc,  $event);"
                  >
                  </ion-checkbox>

                  <p
                    class="label-inside text-primary"
                    [ngStyle]="{'font-size': desc.font_size ? (desc.font_size + 'px') : '', 'color' : desc.font_color ? desc.font_color : '#000000' }"
                  >
                    {{desc.text}}
                  </p>
                  <ion-button
                    class="btn-desc-settings"
                    slot="end"
                    size="small"
                    shape="round"
                    (click)="openIonModal(desc)"
                  >
                    <ion-icon name="settings-outline"></ion-icon>
                  </ion-button>
                  <ion-button
                    class="btn-edit"
                    slot="start"
                    size="small"
                    shape="round"
                    (click)="editText2(desc)"
                  >
                    <ion-icon name="pencil-outline"></ion-icon>
                  </ion-button>
                </div>
              </ion-col>
            </ion-row>
          </div>

          <ion-row class="row-form-ftr">
            <ion-col style="text-align: center">
              <ion-button
                (click)="updateDescription2(item)"
                class="CreateInspBtn"
              >
                <ion-icon class="icn-c" name="create-outline"></ion-icon>

                OK
              </ion-button>
            </ion-col>
            <ion-col style="text-align: center">
              <ion-button (click)="closeDescription()" class="Back-btn">
                <ion-icon class="icn-c" name="close-outline"></ion-icon>

                Cancel
              </ion-button>
            </ion-col>
          </ion-row>
        </div>
      </div>

      <ion-row>
        <ion-col style="text-align: center">
          <ion-button (click)="closeDescription()" class="Back-btn">
            <ion-icon class="icn-c" name="close-outline"></ion-icon>

            Back
          </ion-button>
        </ion-col>
      </ion-row>
    </div>

    <!-- COMMENTS -->
    <div class="cont-input" *ngIf="Comments_UI">
      <p class="main-title">Structure Comments</p>
      <!-- <div class="input-etr">
        <ion-row>
          <ion-col>
            <ion-button (click)="DB_Click_AddNewItem3()" class="CreateInspBtn">
              <ion-icon class="icn-c" name="create-outline"></ion-icon>

              Insert
            </ion-button>

            <div
              class="data-ui"
              *ngFor="let d of StructureCommentsContent; let i = index;"
              (click)="selectItem3(i, d)"
              [ngClass]="{'highlight': selectedIndex === i}"
            >
              <ion-row>
                <ion-col class="tbl_col">
                  <ion-item class="txt-box">
                    <p class="txt_ Inside">{{d.text}}</p>
                  </ion-item>
                </ion-col>
              </ion-row>
            </div>
          </ion-col>

          <ion-col>
            <ion-button class="remv-btn" (click)="removeContent3()"
              >Remove</ion-button
            >
            <ion-reorder-group
              disabled="false"
              (ionItemReorder)="onRenderItems3($event)"
            >
              <ion-item
                class="data-ui"
                *ngFor="let d of added_items3; let i = index;"
                (click)="selectItem33(i, d)"
                [ngClass]="{'highlight2': selectedIndex2 === i}"
              >
                <ion-label> {{d.text}} </ion-label>
                <ion-reorder slot="end"></ion-reorder>
              </ion-item>
            </ion-reorder-group>
          </ion-col>
        </ion-row>
      </div> -->

      <div
        class="item-rw"
        *ngFor="let item of StructureCommentsContent; let i = index;"
      >
        <ion-checkbox
          class="custm-check"
          item-right
          [(ngModel)]="item.checked"
          (ionChange)="selectItem3(i, item, $event);"
        >
        </ion-checkbox>

        <p class="label-inside">{{item.text}}</p>
        <ion-button
          class="btn-edit"
          slot="start"
          size="small"
          shape="round"
          (click)="editText(item)"
          >Edit</ion-button
        >
      </div>

      <ion-row>
        <ion-col style="text-align: center">
          <ion-button (click)="updateDescription3()" class="CreateInspBtn">
            <ion-icon class="icn-c" name="create-outline"></ion-icon>

            OK
          </ion-button>
        </ion-col>

        <ion-col style="text-align: center">
          <ion-button (click)="closeDescription()" class="Back-btn">
            <ion-icon class="icn-c" name="close-outline"></ion-icon>

            Back
          </ion-button>
        </ion-col>
      </ion-row>
    </div>

    <!-- LIMITATIONS -->
    <div class="cont-input" *ngIf="Limitations_UI">
      <p class="main-title">Structure Limitations</p>
      <div class="input-etr">
        <!-- <ion-item
          *ngFor="let item of StructureLimitationsContent; let i = index;"
        >
          <ion-icon
            name="chevron-forward-outline"
            class="ic-le"
            item-left
          ></ion-icon>

          <ion-label tappable>{{item.text}} </ion-label>
          <ion-checkbox
            item-right
            [(ngModel)]="item.checked"
            (ionChange)="selectItem4(i, item);"
          >
          </ion-checkbox>
        </ion-item> -->

        <div
          class="item-rw"
          *ngFor="let item of StructureLimitationsContent; let i = index;"
        >
          <ion-checkbox
            class="custm-check"
            item-right
            [(ngModel)]="item.checked"
            (ionChange)="selectItem4(i, item,  $event);"
          >
          </ion-checkbox>

          <p
            [ngStyle]="{'font-size': item.font_size ? (item.font_size + 'px') : '', 'color' : item.font_color ? item.font_color : '#000000' }"
            class="main-title"
          >
            {{item.text}}
          </p>

          <div class="liner-bx">
            <ion-button
              class="btn-settings lm"
              slot="end"
              size="small"
              shape="round"
              (click)="openIonModal(item)"
            >
              <ion-icon name="settings-outline"></ion-icon>
            </ion-button>

            <ion-button
              class="btn-edit lm"
              slot="start"
              size="small"
              shape="round"
              (click)="editText3(item)"
            >
              <ion-icon name="pencil-outline"></ion-icon>
            </ion-button>

            <ion-button
              class="btn-add lm"
              slot="end"
              size="small"
              shape="round"
              (click)="openAddModal3(i)"
            >
              <ion-icon name="add-outline"></ion-icon>
            </ion-button>
          </div>
        </div>

        <!-- <ion-row>
          <ion-col>
            <ion-button (click)="DB_Click_AddNewItem4()" class="CreateInspBtn">
              <ion-icon class="icn-c" name="create-outline"></ion-icon>

              Insert
            </ion-button>

            <div
              class="data-ui"
              *ngFor="let d of StructureLimitationsContent; let i = index;"
              (click)="selectItem4(i, d)"
              [ngClass]="{'highlight': selectedIndex === i}"
            >
              <ion-row>
                <ion-col class="tbl_col">
                  <ion-item class="txt-box">
                    <p class="txt_ Inside">{{d.text}}</p>
                  </ion-item>
                </ion-col>
              </ion-row>
            </div>
          </ion-col>

          <ion-col>
            <ion-button class="remv-btn" (click)="removeContent4()"
              >Remove</ion-button
            >
            <ion-reorder-group
              disabled="false"
              (ionItemReorder)="onRenderItems4($event)"
            >
              <ion-item
                class="data-ui"
                *ngFor="let d of added_items4; let i = index;"
                (click)="selectItem44(i, d)"
                [ngClass]="{'highlight2': selectedIndex2 === i}"
              >
                <ion-label> {{d.text}} </ion-label>
                <ion-reorder slot="end"></ion-reorder>
              </ion-item>
            </ion-reorder-group>
          </ion-col>
        </ion-row> -->
      </div>

      <ion-row>
        <ion-col style="text-align: center">
          <ion-button (click)="updateDescription4()" class="CreateInspBtn">
            <ion-icon class="icn-c" name="create-outline"></ion-icon>

            OK
          </ion-button>
        </ion-col>

        <ion-col style="text-align: center">
          <ion-button (click)="closeDescription()" class="Back-btn">
            <ion-icon class="icn-c" name="close-outline"></ion-icon>

            Back
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <ion-row *ngIf="!BackPressed">
    <ion-col style="text-align: center">
      <ion-button (click)="closeM()" class="Back-btn">
        <ion-icon class="icn-c" name="close-outline"></ion-icon>

        Back
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
