<ion-header>
  <ion-toolbar>
    <ion-title>Electrical Selection</ion-title>

    <ion-buttons slot="end">
      <ion-spinner *ngIf="PreviewPDF" name="circles"></ion-spinner>

      <ion-icon
        (click)="createPdf()"
        class="prev-icn"
        *ngIf="!PreviewPDF"
        name="eye-outline"
      ></ion-icon>

      <!-- <ion-icon
        (click)="closeM()"
        class="icn-close"
        name="close-outline"
      ></ion-icon> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contain-crds" *ngIf="!BackPressed">
    <ion-row>
      <ion-col
        size="6"
        *ngFor="let n of inspectionTypes"
        (click)="goToSelection(n)"
      >
        <div class="row-card">
          <p class="selection-name">{{n.name}}</p>
        </div>
      </ion-col>
    </ion-row>
  </div>

  <div class="selection-container">
    <!-- DESCRIPTION -->

    <div class="cont-input" *ngIf="Description">
      <p class="main-title vie">Description Content</p>

      <div
        class="con-inpu"
        *ngFor="let item of electricalDescriptionContent; let i = index;"
      >
        <!-- <p (click)="AddTitleInfo(item)" class="main-title">{{item.title}}</p> -->

        <p
          (click)="AddTitleInfo(item)"
          [ngStyle]="{'font-size': item.font_size ? (item.font_size + 'px') : '', 'color' : item.font_color ? item.font_color : '#000000' }"
          class="main-title"
        >
          {{item.title}}
        </p>
        <ion-button
          class="btn-settings"
          slot="end"
          size="small"
          shape="round"
          (click)="openIonModal(item)"
        >
          <ion-icon name="settings-outline"></ion-icon>
        </ion-button>
        <ion-button
          class="btn-add"
          slot="end"
          size="small"
          shape="round"
          (click)="openAddModal(i)"
        >
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>

        <div *ngIf="item.title == SelectedTitleToFilter">
          <div class="input-etr">
            <ion-row>
              <ion-col>
                <div
                  class="item-rw"
                  *ngFor="let desc of item.data; let i = index;"
                >
                  <ion-checkbox
                    class="custm-check"
                    item-right
                    [(ngModel)]="desc.checked"
                    (ionChange)="selectItem5(i, desc,  $event);"
                  >
                  </ion-checkbox>
                  <p
                    class="label-inside text-primary"
                    [ngStyle]="{'font-size': desc.font_size ? (desc.font_size + 'px') : '', 'color' : desc.font_color ? desc.font_color : '#000000' }"
                  >
                    {{desc.text}}
                  </p>
                  <ion-button
                    class="btn-desc-settings"
                    slot="end"
                    size="small"
                    shape="round"
                    (click)="openIonModal(desc)"
                  >
                    <ion-icon name="settings-outline"></ion-icon>
                  </ion-button>
                  <ion-button
                    class="btn-edit"
                    slot="start"
                    size="small"
                    shape="round"
                    (click)="editText(desc)"
                  >
                    <ion-icon name="pencil-outline"></ion-icon>
                  </ion-button>
                </div>
              </ion-col>
            </ion-row>
          </div>

          <ion-row>
            <ion-col style="text-align: center">
              <ion-button
                (click)="updateDescription5(item)"
                class="CreateInspBtn"
              >
                <ion-icon class="icn-c" name="create-outline"></ion-icon>

                OK
              </ion-button>
            </ion-col>
            <ion-col style="text-align: center">
              <ion-button (click)="closeDescription2()" class="Back-btn">
                <ion-icon class="icn-c" name="close-outline"></ion-icon>

                Cancel
              </ion-button>
            </ion-col>
          </ion-row>
        </div>
      </div>

      <ion-row>
        <ion-col style="text-align: center">
          <ion-button (click)="closeDescription()" class="Back-btn">
            <ion-icon class="icn-c" name="close-outline"></ion-icon>

            Back
          </ion-button>
        </ion-col>
      </ion-row>
    </div>

    <!-- == -->

    <div class="cont-input" *ngIf="StructureFoundationComponents_UI">
      <p class="main-title vie">Select Description</p>

      <div class="con-inpu" *ngIf="CompSelect1">
        <p (click)="onHSView1()" class="main-title">{{config.titleof_20}}</p>

        <div class="input-etr" *ngIf="HSView1">
          <ion-row>
            <ion-col>
              <!-- <ion-button
                (click)="DB_Click_AddNewItem5()"
                class="CreateInspBtn"
              >
                <ion-icon class="icn-c" name="create-outline"></ion-icon>

                Insert
              </ion-button> -->

              <!-- <div
                class="data-ui"
                *ngFor="let d of ElectricalServiceEntryGroundStructureContent; let i = index;"
                (click)="selectItem5(i, d)"
                [ngClass]="{'highlight': selectedIndex === i}"
              >
                <ion-row>
                  <ion-col class="tbl_col">
                    <ion-item class="txt-box">
                      <p class="txt_ Inside">{{d.text}}</p>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </div> -->

              <div
                class="item-rw"
                *ngFor="let item of ElectricalServiceEntryGroundStructureContent; let i = index;"
              >
                <ion-checkbox
                  class="custm-check"
                  item-right
                  [(ngModel)]="item.checked"
                  (ionChange)="selectItem5(i, item,  $event);"
                >
                </ion-checkbox>
                <p class="label-inside">{{item.text}}</p>
              </div>
            </ion-col>

            <!-- <ion-col>
              <ion-button class="remv-btn" (click)="removeContent5()"
                >Remove</ion-button
              >
              <ion-reorder-group
                disabled="false"
                (ionItemReorder)="onRenderItems($event)"
              >
                <ion-item
                  class="data-ui"
                  *ngFor="let d of added_items5; let i = index;"
                  (click)="selectItem5Remove(i, d)"
                  [ngClass]="{'highlight2': selectedIndex5 === i}"
                >
                  <ion-label> {{d.text}} </ion-label>
                  <ion-reorder slot="end"></ion-reorder>
                </ion-item>
              </ion-reorder-group>
            </ion-col> -->
          </ion-row>
        </div>

        <ion-row *ngIf="HSView1">
          <ion-col style="text-align: center">
            <ion-button (click)="updateDescription5()" class="CreateInspBtn">
              <ion-icon class="icn-c" name="create-outline"></ion-icon>

              OK
            </ion-button>
          </ion-col>
          <ion-col style="text-align: center">
            <ion-button (click)="closeDescription2()" class="Back-btn">
              <ion-icon class="icn-c" name="close-outline"></ion-icon>

              Back
            </ion-button>
          </ion-col>
        </ion-row>
      </div>

      <div class="con-inpu" *ngIf="CompSelect1">
        <p class="main-title" (click)="onHSView2()">{{config.titleof_18}}</p>
        <div class="input-etr" *ngIf="HSView2">
          <ion-row>
            <ion-col>
              <!-- <ion-button
                (click)="DB_Click_AddNewItem6()"
                class="CreateInspBtn"
              >
                <ion-icon class="icn-c" name="create-outline"></ion-icon>

                Insert
              </ion-button> -->

              <!-- <div
                class="data-ui"
                *ngFor="let d of ElectricalMainDisconnectStructureContent; let i = index;"
                (click)="selectItem6(i, d)"
                [ngClass]="{'highlight': selectedIndex === i}"
              >
                <ion-row>
                  <ion-col class="tbl_col">
                    <ion-item class="txt-box">
                      <p class="txt_ Inside">{{d.text}}</p>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </div> -->

              <div
                class="item-rw"
                *ngFor="let item of ElectricalMainDisconnectStructureContent; let i = index;"
              >
                <ion-checkbox
                  class="custm-check"
                  item-right
                  [(ngModel)]="item.checked"
                  (ionChange)="selectItem6(i, item,  $event);"
                >
                </ion-checkbox>
                <p class="label-inside">{{item.text}}</p>
              </div>
            </ion-col>

            <!-- <ion-col>
              <ion-button class="remv-btn" (click)="removeContent6()"
                >Remove</ion-button
              >
              <ion-reorder-group
                disabled="false"
                (ionItemReorder)="onRenderItems($event)"
              >
                <ion-item
                  class="data-ui"
                  *ngFor="let d of added_items6; let i = index;"
                  (click)="selectItem6Remove(i, d)"
                  [ngClass]="{'highlight2': selectedIndex6 === i}"
                >
                  <ion-label> {{d.text}} </ion-label>
                  <ion-reorder slot="end"></ion-reorder>
                </ion-item>
              </ion-reorder-group>
            </ion-col> -->
          </ion-row>
        </div>

        <ion-row *ngIf="HSView2">
          <ion-col style="text-align: center">
            <ion-button (click)="updateDescription6()" class="CreateInspBtn">
              <ion-icon class="icn-c" name="create-outline"></ion-icon>

              OK
            </ion-button>
          </ion-col>
          <ion-col style="text-align: center">
            <ion-button (click)="closeDescription2()" class="Back-btn">
              <ion-icon class="icn-c" name="close-outline"></ion-icon>

              Back
            </ion-button>
          </ion-col>
        </ion-row>
      </div>

      <div class="con-inpu" *ngIf="CompSelect1">
        <p class="main-title" (click)="onHSView3()">{{config.titleof_21}}</p>
        <div class="input-etr" *ngIf="HSView3">
          <ion-row>
            <ion-col>
              <!-- <ion-button
                (click)="DB_Click_AddNewItem7()"
                class="CreateInspBtn"
              >
                <ion-icon class="icn-c" name="create-outline"></ion-icon>

                Insert
              </ion-button> -->

              <!-- <div
                class="data-ui"
                *ngFor="let d of ElectricalDistributionPanelStructureContent; let i = index;"
                (click)="selectItem7(i, d)"
                [ngClass]="{'highlight': selectedIndex === i}"
              >
                <ion-row>
                  <ion-col class="tbl_col">
                    <ion-item class="txt-box">
                      <p class="txt_ Inside">{{d.text}}</p>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </div> -->

              <div
                class="item-rw"
                *ngFor="let item of ElectricalDistributionPanelStructureContent; let i = index;"
              >
                <ion-checkbox
                  class="custm-check"
                  item-right
                  [(ngModel)]="item.checked"
                  (ionChange)="selectItem7(i, item,  $event);"
                >
                </ion-checkbox>
                <p class="label-inside">{{item.text}}</p>
              </div>
            </ion-col>

            <!-- <ion-col>
              <ion-button class="remv-btn" (click)="removeContent7()"
                >Remove</ion-button
              >
              <ion-reorder-group
                disabled="false"
                (ionItemReorder)="onRenderItems($event)"
              >
                <ion-item
                  class="data-ui"
                  *ngFor="let d of added_items7; let i = index;"
                  (click)="selectItem7Remove(i, d)"
                  [ngClass]="{'highlight2': selectedIndex7 === i}"
                >
                  <ion-label> {{d.text}} </ion-label>
                  <ion-reorder slot="end"></ion-reorder>
                </ion-item>
              </ion-reorder-group>
            </ion-col> -->
          </ion-row>
        </div>

        <ion-row *ngIf="HSView3">
          <ion-col style="text-align: center">
            <ion-button (click)="updateDescription7()" class="CreateInspBtn">
              <ion-icon class="icn-c" name="create-outline"></ion-icon>

              OK
            </ion-button>
          </ion-col>

          <ion-col style="text-align: center">
            <ion-button (click)="closeDescription2()" class="Back-btn">
              <ion-icon class="icn-c" name="close-outline"></ion-icon>

              Back
            </ion-button>
          </ion-col>
        </ion-row>
      </div>

      <div class="con-inpu" *ngIf="CompSelect1">
        <p class="main-title" (click)="onHSView8()">{{config.titleof_13}}</p>
        <div class="input-etr" *ngIf="HSView8">
          <ion-row>
            <ion-col>
              <!-- <ion-button
                (click)="DB_Click_AddNewItem8()"
                class="CreateInspBtn"
              >
                <ion-icon class="icn-c" name="create-outline"></ion-icon>

                Insert
              </ion-button> -->

              <!-- <div
                class="data-ui"
                *ngFor="let d of ElectricalAuxilliaryStructureContent; let i = index;"
                (click)="selectItem8(i, d)"
                [ngClass]="{'highlight': selectedIndex === i}"
              >
                <ion-row>
                  <ion-col class="tbl_col">
                    <ion-item class="txt-box">
                      <p class="txt_ Inside">{{d.text}}</p>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </div> -->
              <div
                class="item-rw"
                *ngFor="let item of ElectricalAuxilliaryStructureContent; let i = index;"
              >
                <ion-checkbox
                  class="custm-check"
                  item-right
                  [(ngModel)]="item.checked"
                  (ionChange)="selectItem8(i, item,  $event);"
                >
                </ion-checkbox>
                <p class="label-inside">{{item.text}}</p>
              </div>
            </ion-col>

            <!-- <ion-col>
              <ion-button class="remv-btn" (click)="removeContent8()"
                >Remove</ion-button
              >
              <ion-reorder-group
                disabled="false"
                (ionItemReorder)="onRenderItems($event)"
              >
                <ion-item
                  class="data-ui"
                  *ngFor="let d of added_items8; let i = index;"
                  (click)="selectItem8Remove(i, d)"
                  [ngClass]="{'highlight2': selectedIndex8 === i}"
                >
                  <ion-label> {{d.text}} </ion-label>
                  <ion-reorder slot="end"></ion-reorder>
                </ion-item>
              </ion-reorder-group>
            </ion-col> -->
          </ion-row>
        </div>

        <ion-row *ngIf="HSView8">
          <ion-col style="text-align: center">
            <ion-button (click)="updateDescription8()" class="CreateInspBtn">
              <ion-icon class="icn-c" name="create-outline"></ion-icon>

              OK
            </ion-button>
          </ion-col>

          <ion-col style="text-align: center">
            <ion-button (click)="closeDescription2()" class="Back-btn">
              <ion-icon class="icn-c" name="close-outline"></ion-icon>

              Back
            </ion-button>
          </ion-col>
        </ion-row>
      </div>

      <div class="con-inpu" *ngIf="CompSelect1">
        <p class="main-title" (click)="onHSView9()">{{config.titleof_15}}</p>
        <div class="input-etr" *ngIf="HSView9">
          <ion-row>
            <ion-col>
              <!-- <ion-button
                (click)="DB_Click_AddNewItem9()"
                class="CreateInspBtn"
              >
                <ion-icon class="icn-c" name="create-outline"></ion-icon>

                Insert
              </ion-button> -->

              <!-- <div
                class="data-ui"
                *ngFor="let d of ElectricalWiringStructureContent; let i = index;"
                (click)="selectItem9(i, d)"
                [ngClass]="{'highlight': selectedIndex === i}"
              >
                <ion-row>
                  <ion-col class="tbl_col">
                    <ion-item class="txt-box">
                      <p class="txt_ Inside">{{d.text}}</p>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </div> -->

              <div
                class="item-rw"
                *ngFor="let item of ElectricalWiringStructureContent; let i = index;"
              >
                <ion-checkbox
                  class="custm-check"
                  item-right
                  [(ngModel)]="item.checked"
                  (ionChange)="selectItem9(i, item,  $event);"
                >
                </ion-checkbox>
                <p class="label-inside">{{item.text}}</p>
              </div>
            </ion-col>

            <!-- <ion-col>
              <ion-button class="remv-btn" (click)="removeContent9()"
                >Remove</ion-button
              >
              <ion-reorder-group
                disabled="false"
                (ionItemReorder)="onRenderItems($event)"
              >
                <ion-item
                  class="data-ui"
                  *ngFor="let d of added_items9; let i = index;"
                  (click)="selectItem9Remove(i, d)"
                  [ngClass]="{'highlight2': selectedIndex9 === i}"
                >
                  <ion-label> {{d.text}} </ion-label>
                  <ion-reorder slot="end"></ion-reorder>
                </ion-item>
              </ion-reorder-group>
            </ion-col> -->
          </ion-row>
        </div>

        <ion-row *ngIf="HSView9">
          <ion-col style="text-align: center">
            <ion-button (click)="updateDescription9()" class="CreateInspBtn">
              <ion-icon class="icn-c" name="create-outline"></ion-icon>

              OK
            </ion-button>
          </ion-col>

          <ion-col style="text-align: center">
            <ion-button (click)="closeDescription2()" class="Back-btn">
              <ion-icon class="icn-c" name="close-outline"></ion-icon>

              Back
            </ion-button>
          </ion-col>
        </ion-row>
      </div>

      <div class="con-inpu" *ngIf="CompSelect1">
        <p class="main-title" (click)="onHSView10()">{{config.titleof_16}}</p>
        <div class="input-etr" *ngIf="HSView10">
          <ion-row>
            <ion-col>
              <!-- <ion-button
                (click)="DB_Click_AddNewItem10()"
                class="CreateInspBtn"
              >
                <ion-icon class="icn-c" name="create-outline"></ion-icon>

                Insert
              </ion-button> -->

              <!-- <div
                class="data-ui"
                *ngFor="let d of ElectricalGroundFaultStructureContent; let i = index;"
                (click)="selectItem10(i, d)"
                [ngClass]="{'highlight': selectedIndex === i}"
              >
                <ion-row>
                  <ion-col class="tbl_col">
                    <ion-item class="txt-box">
                      <p class="txt_ Inside">{{d.text}}</p>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </div> -->

              <div
                class="item-rw"
                *ngFor="let item of ElectricalGroundFaultStructureContent; let i = index;"
              >
                <ion-checkbox
                  class="custm-check"
                  item-right
                  [(ngModel)]="item.checked"
                  (ionChange)="selectItem10(i, item,  $event);"
                >
                </ion-checkbox>
                <p class="label-inside">{{item.text}}</p>
              </div>
            </ion-col>
            <!-- 
            <ion-col>
              <ion-button class="remv-btn" (click)="removeContent10()"
                >Remove</ion-button
              >
              <ion-reorder-group
                disabled="false"
                (ionItemReorder)="onRenderItems($event)"
              >
                <ion-item
                  class="data-ui"
                  *ngFor="let d of added_items10; let i = index;"
                  (click)="selectItem10Remove(i, d)"
                  [ngClass]="{'highlight2': selectedIndex10 === i}"
                >
                  <ion-label> {{d.text}} </ion-label>
                  <ion-reorder slot="end"></ion-reorder>
                </ion-item>
              </ion-reorder-group>
            </ion-col> -->
          </ion-row>
        </div>

        <ion-row *ngIf="HSView10">
          <ion-col style="text-align: center">
            <ion-button (click)="updateDescription10()" class="CreateInspBtn">
              <ion-icon class="icn-c" name="create-outline"></ion-icon>

              OK
            </ion-button>
          </ion-col>

          <ion-col style="text-align: center">
            <ion-button (click)="closeDescription2()" class="Back-btn">
              <ion-icon class="icn-c" name="close-outline"></ion-icon>

              Back
            </ion-button>
          </ion-col>
        </ion-row>
      </div>

      <ion-row>
        <ion-col style="text-align: center">
          <ion-button (click)="closeDescription()" class="Back-btn">
            <ion-icon class="icn-c" name="close-outline"></ion-icon>

            Back
          </ion-button>
        </ion-col>
      </ion-row>
    </div>

    <!-- OBSERVATION -->
    <div class="cont-input" *ngIf="Observations_UI">
      <p class="main-title vie">Observation Content</p>

      <div
        class="con-inpu"
        *ngFor="let item of electricalObservationContent; let i = index;"
      >
        <p
          (click)="AddTitleInfo2(item)"
          [ngStyle]="{'font-size': item.font_size ? (item.font_size + 'px') : '', 'color' : item.font_color ? item.font_color : '#000000' }"
          class="main-title"
        >
          {{item.title}}
        </p>

        <ion-button
          class="btn-settings"
          slot="end"
          size="small"
          shape="round"
          (click)="openIonModal(item)"
        >
          <ion-icon name="settings-outline"></ion-icon>
        </ion-button>
        <ion-button
          class="btn-add"
          slot="end"
          size="small"
          shape="round"
          (click)="openAddModal2(i)"
        >
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>

        <div *ngIf="item.title == SelectedTitleToFilter">
          <div class="input-etr">
            <ion-row>
              <ion-col>
                <div
                  class="item-rw"
                  *ngFor="let desc of item.data; let i = index;"
                >
                  <ion-checkbox
                    class="custm-check"
                    item-right
                    [(ngModel)]="desc.checked"
                    (ionChange)="selectItem22(i, desc,  $event);"
                  >
                  </ion-checkbox>
                  <p
                    class="label-inside text-primary"
                    [ngStyle]="{'font-size': desc.font_size ? (desc.font_size + 'px') : '', 'color' : desc.font_color ? desc.font_color : '#000000' }"
                  >
                    {{desc.text}}
                  </p>
                  <ion-button
                    class="btn-desc-settings"
                    slot="end"
                    size="small"
                    shape="round"
                    (click)="openIonModal(desc)"
                  >
                    <ion-icon name="settings-outline"></ion-icon>
                  </ion-button>
                  <ion-button
                    class="btn-edit"
                    slot="start"
                    size="small"
                    shape="round"
                    (click)="editText2(desc)"
                  >
                    <ion-icon name="pencil-outline"></ion-icon>
                  </ion-button>
                </div>
              </ion-col>
            </ion-row>
          </div>

          <ion-row class="row-form-ftr">
            <ion-col style="text-align: center">
              <ion-button
                (click)="updateDescription2(item)"
                class="CreateInspBtn"
              >
                <ion-icon class="icn-c" name="create-outline"></ion-icon>

                OK
              </ion-button>
            </ion-col>
            <ion-col style="text-align: center">
              <ion-button (click)="closeDescription2()" class="Back-btn">
                <ion-icon class="icn-c" name="close-outline"></ion-icon>

                Cancel
              </ion-button>
            </ion-col>
          </ion-row>
        </div>
      </div>

      <ion-row>
        <ion-col style="text-align: center">
          <ion-button (click)="closeDescription()" class="Back-btn">
            <ion-icon class="icn-c" name="close-outline"></ion-icon>

            Back
          </ion-button>
        </ion-col>
      </ion-row>
    </div>

    <!-- COMMENTS -->
    <!-- <div class="cont-input" *ngIf="Comments_UI">
      <p class="main-title">Structure Comments</p>
      <div class="input-etr">
        <ion-row>
          <ion-col>
            <ion-button (click)="DB_Click_AddNewItem3()" class="CreateInspBtn">
              <ion-icon class="icn-c" name="create-outline"></ion-icon>

              Insert
            </ion-button>

            <div
              class="data-ui"
              *ngFor="let d of StructureCommentsContent; let i = index;"
              (click)="selectItem3(i, d)"
              [ngClass]="{'highlight': selectedIndex === i}"
            >
              <ion-row>
                <ion-col class="tbl_col">
                  <ion-item class="txt-box">
                    <p class="txt_ Inside">{{d.text}}</p>
                  </ion-item>
                </ion-col>
              </ion-row>
            </div>
          </ion-col>

          <ion-col>
            <ion-button class="remv-btn" (click)="removeContent3()"
              >Remove</ion-button
            >
            <ion-reorder-group
              disabled="false"
              (ionItemReorder)="onRenderItems3($event)"
            >
              <ion-item
                class="data-ui"
                *ngFor="let d of added_items3; let i = index;"
                (click)="selectItem33(i, d)"
                [ngClass]="{'highlight2': selectedIndex2 === i}"
              >
                <ion-label> {{d.text}} </ion-label>
                <ion-reorder slot="end"></ion-reorder>
              </ion-item>
            </ion-reorder-group>
          </ion-col>
        </ion-row>
      </div>

      <ion-row>
        <ion-col style="text-align: center">
          <ion-button (click)="closeDescription()" class="Back-btn">
            <ion-icon class="icn-c" name="close-outline"></ion-icon>

            Back
          </ion-button>
        </ion-col>

        <ion-col style="text-align: center">
          <ion-button (click)="updateDescription3()" class="CreateInspBtn">
            <ion-icon class="icn-c" name="create-outline"></ion-icon>

            Update
          </ion-button>
        </ion-col>
      </ion-row>
    </div> -->

    <!-- LIMITATIONS -->
    <div class="cont-input" *ngIf="Limitations_UI">
      <p class="main-title">Limitations</p>
      <div class="input-etr">
        <ion-row>
          <ion-col>
            <!-- <ion-button (click)="DB_Click_AddNewItem4()" class="CreateInspBtn">
              <ion-icon class="icn-c" name="create-outline"></ion-icon>

              Insert
            </ion-button> -->

            <!-- <div
              class="data-ui"
              *ngFor="let d of electricalLimitationsContent; let i = index;"
              (click)="selectItem4(i, d)"
              [ngClass]="{'highlight': selectedIndex === i}"
            >
              <ion-row>
                <ion-col class="tbl_col">
                  <ion-item class="txt-box">
                    <p class="txt_ Inside">{{d.text}}</p>
                  </ion-item>
                </ion-col>
              </ion-row>
            </div> -->

            <div
              class="item-rw"
              *ngFor="let item of electricalLimitationsContent; let i = index;"
            >
              <ion-checkbox
                class="custm-check"
                item-right
                [(ngModel)]="item.checked"
                (ionChange)="selectItem4(i, item,  $event);"
              >
              </ion-checkbox>
              <p
                class="label-inside text-primary"
                [ngStyle]="{'font-size': item.font_size ? (item.font_size + 'px') : '', 'color' : item.font_color ? item.font_color : '#000000' }"
              >
                {{item.text}}
              </p>

              <div class="liner-bx">
                <ion-button
                  class="btn-settings lm"
                  slot="end"
                  size="small"
                  shape="round"
                  (click)="openIonModal(item)"
                >
                  <ion-icon name="settings-outline"></ion-icon>
                </ion-button>

                <ion-button
                  class="btn-edit lm"
                  slot="start"
                  size="small"
                  shape="round"
                  (click)="editText3(item)"
                >
                  <ion-icon name="pencil-outline"></ion-icon>
                </ion-button>

                <ion-button
                  class="btn-add lm"
                  slot="end"
                  size="small"
                  shape="round"
                  (click)="openAddModal3(i)"
                >
                  <ion-icon name="add-outline"></ion-icon>
                </ion-button>
              </div>
            </div>
          </ion-col>
          <!-- 
          <ion-col>
            <ion-button class="remv-btn" (click)="removeContent4()"
              >Remove</ion-button
            >
            <ion-reorder-group
              disabled="false"
              (ionItemReorder)="onRenderItems4($event)"
            >
              <ion-item
                class="data-ui"
                *ngFor="let d of added_items4; let i = index;"
                (click)="selectItem44(i, d)"
                [ngClass]="{'highlight2': selectedIndex2 === i}"
              >
                <ion-label> {{d.text}} </ion-label>
                <ion-reorder slot="end"></ion-reorder>
              </ion-item>
            </ion-reorder-group>
          </ion-col> -->
        </ion-row>
      </div>

      <ion-row>
        <ion-col style="text-align: center">
          <ion-button (click)="updateDescription4()" class="CreateInspBtn">
            <ion-icon class="icn-c" name="create-outline"></ion-icon>

            OK
          </ion-button>
        </ion-col>
        <ion-col style="text-align: center">
          <ion-button (click)="closeDescription()" class="Back-btn">
            <ion-icon class="icn-c" name="close-outline"></ion-icon>

            Back
          </ion-button>
        </ion-col>
      </ion-row>
    </div>

    <!-- === -->

    <div class="cont-input" *ngIf="Obersations_UI_Recommendations">
      <p class="main-title">Electrical Recommendations</p>
      <div class="input-etr">
        <ion-row>
          <ion-col>
            <!-- <ion-button (click)="DB_Click_AddNewItem3()" class="CreateInspBtn">
              <ion-icon class="icn-c" name="create-outline"></ion-icon>

              Insert
            </ion-button> -->

            <!-- <div
              class="data-ui"
              *ngFor="let d of electricalObservationRecommendations; let i = index;"
              (click)="selectItem3(i, d)"
              [ngClass]="{'highlight': selectedIndex === i}"
            >
              <ion-row>
                <ion-col class="tbl_col">
                  <ion-item class="txt-box">
                    <p class="txt_ Inside">{{d.text}}</p>
                  </ion-item>
                </ion-col>
              </ion-row>
            </div> -->

            <div
              class="item-rw"
              *ngFor="let item of electricalObservationRecommendations; let i = index;"
            >
              <ion-checkbox
                class="custm-check"
                item-right
                [(ngModel)]="item.checked"
                (ionChange)="selectItem6(i, item,  $event);"
              >
              </ion-checkbox>
              <p class="label-inside">{{item.text}}</p>
            </div>
          </ion-col>

          <!-- <ion-col>
            <ion-button class="remv-btn" (click)="removeContent4()"
              >Remove</ion-button
            >
            <ion-reorder-group
              disabled="false"
              (ionItemReorder)="onRenderItems4($event)"
            >
              <ion-item
                class="data-ui"
                *ngFor="let d of added_items3; let i = index;"
                (click)="selectItem33(i, d)"
                [ngClass]="{'highlight2': selectedIndex2 === i}"
              >
                <ion-label> {{d.text}} </ion-label>
                <ion-reorder slot="end"></ion-reorder>
              </ion-item>
            </ion-reorder-group>
          </ion-col> -->
        </ion-row>
      </div>

      <ion-row>
        <ion-col style="text-align: center">
          <ion-button (click)="updateDescription4()" class="CreateInspBtn">
            <ion-icon class="icn-c" name="create-outline"></ion-icon>

            OK
          </ion-button>
        </ion-col>

        <ion-col style="text-align: center">
          <ion-button (click)="closeDescription()" class="Back-btn">
            <ion-icon class="icn-c" name="close-outline"></ion-icon>

            Back
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <ion-row *ngIf="!BackPressed">
    <ion-col style="text-align: center">
      <ion-button (click)="closeM()" class="Back-btn">
        <ion-icon class="icn-c" name="close-outline"></ion-icon>

        Back
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
