ion-button.CreateInspBtn.ios.button.button-solid.ion-activatable.ion-focusable.hydrated {
  min-width: 100px;
  border: none;
  border-radius: 11px;
  --border-radius: 11px;
  --border: none;
  text-transform: capitalize;
}

ion-button.CreateInspBtn.md.button.button-solid.ion-activatable.ion-focusable.hydrated {
  min-width: 100px;
  border: none;
  border-radius: 11px;
  --border-radius: 11px;
  --border: none;
  text-transform: capitalize;
}

.container {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 22px;
}
