.card-cus {
  margin-left: 20px;
  margin-right: 20px;
  // background: var(--ion-color-primary);
  // padding-left: 12px;
  // width: 100%;
  // margin-top: 20px;
  // border-radius: 10px;
  // box-shadow: 10px 10px 5px 0px #d7d8da;
  // -webkit-box-shadow: 10px 10px 5px 0px #989aa2;
  // -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  // color: #ffffffab;
}

p.lb-txt {
  font-size: 12px;
}

p.hz-txt {
  margin-top: -9px;
}

p.date-field {
  margin-top: -9px;
}

ion-icon.icn-top.ios.hydrated {
  margin-right: 7px;
}

ion-icon.icn-top.md.hydrated {
  margin-right: 7px;
}

ion-button.cus-top-selection-btn.createins.ios.button.button-solid.ion-activatable.ion-focusable.hydrated {
  --border-radius: 11px;
  text-transform: capitalize;
}

ion-button.cus-top-selection-btn.createins.md.button.button-solid.ion-activatable.ion-focusable.hydrated {
  --border-radius: 11px;
  text-transform: capitalize;
}

span.ot {
  border-right: 1px solid;

  margin-right: 6px;
}

button.edit-btn {
  float: right;
  margin-top: 9px;
  margin-right: 17px;
  display: flex;
  border-radius: 17px;
  font-size: 16px;
  padding-left: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 7px;
  color: #222428;
}

ion-icon.edit-icn.md.hydrated {
  color: #222428;
  font-size: 18px;
  margin-top: -2px;
}

ion-icon.edit-icn.ios.hydrated {
  color: #222428;
  font-size: 18px;
  margin-top: -2px;
}

ion-row.row-cls.md.hydrated {
  background: white;
  padding-left: 12px;
  width: 100%;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 5px 0px #d7d8da;
  -webkit-box-shadow: 10px 10px 5px 0px #989aa2;
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  color: black;
  margin-left: 14px;
}

.cus-top-selection-btn.createins {
  display: inline-flex;
}

ion-row.row-cls.ios.hydrated {
  background: white;
  padding-left: 12px;
  width: 100%;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 5px 0px #d7d8da;
  -webkit-box-shadow: 10px 10px 5px 0px #989aa2;
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  color: black;
  margin-left: 14px;
}

ion-icon.add-circle-ic.md.hydrated {
  margin-top: 2px;
  margin-right: 4px;
  font-size: 16px;
}

ion-content.md.hydrated {
  --background: #f2f2f2;
}

ion-content.ios.hydrated {
  --background: #f2f2f2;
}

ion-icon.add-circle-ic.ios.hydrated {
  margin-top: 2px;
  margin-right: 4px;
  font-size: 16px;
}

.date-only {
  margin-top: -25px;
}

.content-box {
  background-repeat: no-repeat, repeat;
  background-position: right top;
  background-image: url(../../assets/Res/background-rect.png);
  background-attachment: fixed;
}

.slide-box {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 19px;
  margin-bottom: 25px;
  background: white;
  border-radius: 30px;
}

@media only screen and (min-width: 900px) {
  .slide-box {
    width: 75% !important;
  }
  .slide-box.singleorder {
    width: 93% !important;
    margin-left: 27px;
  }
  button.edit-btn {
    position: fixed;
    top: 10;
    top: 110px !important;
    right: 0px;
    margin-right: 31px;
  }
}

button.edit-btn {
  position: revert;
  top: 10;
  top: auto;
  right: auto;
  margin-right: auto;
}

.content-one {
  padding-left: 22px;
}

p.c-title {
  color: #193f6a;
  background: #f5f5f5;
  text-align: center;
  height: 27px;
  padding-top: 4px;
  font-size: 16px;
  border-radius: 60px;

  margin-top: 12px;
  margin-bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;
  width: 126px;
  overflow: hidden;
  height: 24px;
  padding-bottom: 19px;
}

p.subtitle-content {
  font-size: 11px;
  margin-bottom: -19px;

  font-family: "Poppins";
  color: #193f6aab;
  font-family: "Poppins";
}

p.text-info {
  line-height: 18px;
}

p.text-info {
  color: #193f6a;
  font-family: "Poppins";
  font-size: 15px;
  margin-bottom: 17px;
  margin-top: 18px;
}

.content-two {
  margin-top: 62px;
}

@media only screen and (max-width: 720px) {
  .slide-box {
    background-repeat: no-repeat, repeat;
    background-position: bottom center;
    background-image: url(../../assets/Res/group-circles.png) !important;
  }

  .on-mid {
    margin-top: 0px !important;
    padding-left: 22px !important;
  }

  .content-two {
    margin-top: 0px !important;
    padding-left: 22px !important;
  }

  .content-three {
    padding-left: 4px !important;
    padding-bottom: 13px;
  }
}

p.title-btn {
  float: right;
}
